@font-face {
  font-family: 'Dalmation';
  src: url('@/fonts/Dalmation-FREE.woff2') format('woff2'),
       url('@/fonts/Dalmation-FREE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
